
<script setup lang="ts">
import { reactive } from 'vue'
import type { AboutData } from '@/interfaces/about-data'

const data = reactive<AboutData>({
  msg: 'Hello Vite + Vue 3.0 + TypeScript + Vetur!',
  count: 0
})


data.count = 2
</script>

<template>
  <div>
    <h1> {{ data.msg }} </h1>
  </div>
</template>

<style scoped>

</style>
