<script setup lang="ts">
import {onMounted} from 'vue'
import {useAppStore} from "@/store/app";
import router from "@/router";

const store = useAppStore()
const booklist = store.bookmarkList

onMounted(async () => {
  store.setTitle('Bookmark')
})

const openBook = async (bookTitle: string, bookChapter: string, bookSource: string) => {
  store.setTitle('Book')
  store.setBook(bookTitle, bookChapter, bookSource)

  await router.push('/book-detail')
}
</script>

<template>
  <v-container>
    <v-row>
      <v-col v-for="(list, index) in booklist" cols="4" md="2" :key="index" class="pa-1">
        <v-card>
          <v-img :src="list.img" class="w-100" height="180" cover
                 @click="openBook(list.title, '', list.link)">
            <v-spacer class="h-75"></v-spacer>
            <div class="d-flex justify-center align-center h-25 overlay-text pb-3 px-1">
               <span
                 class="d-inline-block text-truncate font-weight-bold text-white"
                 style="max-width: 200px; font-size: 10px"
               >
              {{ list.title }}
              </span>
            </div>
          </v-img>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.overlay-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  color: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
</style>
