<script setup lang="ts">
import {reactive, onMounted} from 'vue'
import Source from '@/api/Source'
import { bookData } from "@/interfaces/allbooks-data";
import {useAppStore} from '@/store/app'

const api = new Source()
const store = useAppStore()
const data = reactive <bookData>({
  list: []
})

onMounted(async () => {
  const book = await api.book(store.source, store.chapterSource)
  if(book.data) {
    data.list = book.data
  }
})
</script>

<template>
  <div>
    <v-container>
      <v-row justify="center">
        <v-col cols="12">
          <v-card v-for="list in data.list" :key="list.index" flat border rounded="0" class="mb-2">
            <v-img :src="list.link"/>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style scoped>

</style>
