<script setup lang="ts">
import {reactive, onMounted, ref} from 'vue'
import type {PerpustakaanData} from '@/interfaces/perpustakaan-data'
import Source from '@/api/Source'
import {useAppStore} from "@/store/app";
import router from "@/router";

const loading = ref(true)
const tabs = ref(1)
const store = useAppStore()
const api = new Source()
const data = reactive<PerpustakaanData>({
  list: []
})

onMounted(async () => {
  loading.value = true
  const populer = await api.mangalist(store.source, 'popular')
  if (populer.data) {
    data.list = populer.data
  }
  loading.value = false
})

const setTab = async (tab: number, order: string) => {
  tabs.value = tab
  loading.value = true
  const mangalist = await api.mangalist(store.source, order)
  if (mangalist.data) {
    data.list = mangalist.data
  }
  loading.value = false
}

const openBook = async (bookTitle: string, bookChapter: string, bookSource: string) => {
  store.setTitle('Book')
  store.setBook(bookTitle, bookChapter, bookSource)

  await router.push('/book-detail')
}

</script>

<template>
  <v-container>
    <v-app-bar density="compact" flat tile rounded>
      <v-app-bar-title>
        <div class="d-flex justify-center">
          <v-btn rounded color="teal" :variant="tabs === 1 ? 'flat' : 'outlined' " size="small" class="me-2"
                 @click="setTab(1, 'popular')">Populer
          </v-btn>
          <v-btn rounded color="teal" :variant="tabs === 2 ? 'flat' : 'outlined' " size="small" class="me-2"
                 @click="setTab(2, 'latest')">Terbaru
          </v-btn>
        </div>
      </v-app-bar-title>
    </v-app-bar>

    <Loading v-if="loading"/>

    <v-row>
      <v-col v-for="(list, index) in data.list" cols="4" md="2" :key="index" class="pa-1">
        <v-card>
          <v-img :src="list.img" class="w-100" height="180" cover
                 @click="openBook(list.title, '', list.link)">
            <v-spacer class="h-75"></v-spacer>
            <div class="d-flex justify-center align-center h-25 overlay-text pb-3 px-1">
               <span
                 class="d-inline-block text-truncate font-weight-bold text-white"
                 style="max-width: 200px; font-size: 10px"
               >
              {{ list.title }}
              </span>
            </div>
          </v-img>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.overlay-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  color: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
</style>
