<script setup lang="ts">
import {reactive, onMounted, ref} from 'vue'
import Source from '@/api/Source'
import {useAppStore} from '@/store/app'
import {AllBooksData} from "@/interfaces/allbooks-data";
import AllbooksOpen from "@/components/allbooks-open.vue";

const store = useAppStore()
const loading = ref(true)
const sheet = ref(false)
const api = new Source()
let data = reactive<AllBooksData>({
  list: []
})

onMounted(async () => {
  store.setTitle('Home')
  store.setSource('aHR0cHM6Ly9raXJ5dXUuaWQ=', 'Home')
  loading.value = true
  const populer = await api.allbooks(store.source)
  if (populer.data) {
    data.list = populer.data
  }
  loading.value = false
})

const openBook = (bookTitle: string, bookChapter: string, bookSource: string) => {
  store.setBook(bookTitle, bookChapter, bookSource)
  sheet.value = true
}

</script>

<template>
  <v-container>

    <Loading v-if="loading"/>

    <v-row v-if="!loading">
      <v-col v-for="(list, index) in data.list" cols="12" md="6" lg="4" :key="index" class="px-3 py-1">
        <v-card variant="tonal" rounded="xl">
          <v-row>
            <v-col cols="4">
              <v-img :src="list.img"
                     class="w-100" height="150" cover rounded="xl"
                     @click="openBook(list.title, '', list.link)"/>
            </v-col>
            <v-col cols="6">
              <div class="d-flex flex-column py-2">
                <span class="d-block text-truncate font-weight-bold" style="max-width: 200px;">
                  {{ list.title }}
                </span>
                <span class="d-block font-weight-thin" style="font-size: 13px"> {{ list.lastChapter }} </span>
                <v-chip size="x-small" style="max-width: 50px" variant="flat" class="my-2">
                  <template #prepend>
                    <v-icon size="12" class="mr-1" color="yellow">mdi-star</v-icon>
                  </template>
                  {{ list.rating }}
                </v-chip>
                <p class="font-weight-thin overflow-y-hidden" style="font-size: 9px; max-height: 110px;">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                </p>
              </div>
            </v-col>
            <v-col cols="2" class="d-flex align-start flex-column">
              <v-btn variant="text" class="pa-0" icon="mdi-bookmark-outline" size="small" slim/>
              <v-btn variant="outlined" class="pa-0 mt-auto mb-3 text-capitalize" size="x-small" color="teal"
                     @click="openBook(list.title, '', list.link)">
                Read
              </v-btn>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>

    <v-bottom-sheet v-model="sheet">
      <v-card style="height: 100vh" density="comfortable">
        <v-card-title class="bg-teal py-1" style="height: 45px;">
          <div class="d-flex justify-space-between align-center">
            <v-btn variant="text" size="small" icon="mdi-close" @click="sheet = false"/>
            <span class="font-weight-medium text-truncate px-10" style="font-size: 17px;">{{ store.bookTitle }}</span>
            <v-btn variant="text" size="small" icon="mdi-bookmark-outline" />
          </div>
        </v-card-title>
        <v-card-text class="overflow-y-auto px-1 bg-grey-lighten-3">
          <AllbooksOpen/>
        </v-card-text>
      </v-card>
    </v-bottom-sheet>
  </v-container>
</template>

<style scoped>
.overlay-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  color: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
</style>
