<script setup lang="ts">
import {reactive, onMounted, ref} from 'vue'
import type {JelajahData} from '@/interfaces/jelajah-data'
import Source from '@/api/Source'
import {useAppStore} from '@/store/app'
import Loading from "@/components/Loading.vue";

const loading = ref(true)
const store = useAppStore()
const api = new Source()
const data = reactive<JelajahData>({
  list: []
})

onMounted(async () => {
  loading.value = true
  store.setTitle('Source')
  const list = await api.list()
  if (list.data) {
    data.list = list.data
  }
  loading.value = false
})
</script>

<template>
  <Loading v-if="loading"/>
  <v-container>

    <v-list lines="two" class="pa-0">
      <v-list-item
        v-for="(list, index) in data.list"
        :key="index"
        :prepend-avatar="list.img"
        :subtitle="list.url"
        :title="list.title"
        class="mb-2"
        variant="tonal"
        to="/halaman"
        rounded="pill"
        @click="() => {
          store.setTitle(list.title+ ' book')
          store.setSource(list.id, list.title)
        }"
      >
        <template v-slot:append>
          <v-btn
            icon="mdi-menu-right"
            size="small"
            variant="text"
          />
        </template>
      </v-list-item>
    </v-list>
  </v-container>
</template>

<style scoped>
.overlay-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  color: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
</style>
