<script setup lang="ts">
import {reactive, onMounted, ref} from 'vue'
import Source from '@/api/Source'
import {useAppStore} from '@/store/app'
import {AllBooksOpenData, ListOpenContent} from "@/interfaces/allbooks-data";
import router from "@/router";

const store = useAppStore()
const loading = ref(true)
const api = new Source()
const content = reactive<ListOpenContent>({
  img: '',
  desc: '',
  altname: '',
  rating: ''
})
const data = reactive<AllBooksOpenData>({
  content: content,
  list: []
})

onMounted(async () => {
  loading.value = true
  const chapter = await api.chapter(store.source, store.bookSource)
  if (chapter.data) {
    data.content = chapter.data.content
    data.list = chapter.data.list
  }
  loading.value = false
})

const book = async (bookTitle: string, list: any) => {
  store.setBook(bookTitle, list.chapter, list.link)

  router.push('/book')
}

</script>

<template>
  <v-container>

    <Loading v-if="loading"/>

    <v-row v-if="!loading">
      <v-col cols="12">
        <v-card variant="flat" rounded="xl">
          <v-row>
            <v-col cols="5">
              <v-img :src="data.content.img" class="w-100" height="200" cover rounded="xl"/>
            </v-col>
            <v-col cols="7">
              <div class="d-flex flex-column py-2">
                <span class="d-block text-truncate font-weight-bold" style="max-width: 200px;">
                  {{ store.bookTitle }}
                </span>
                <span class="d-block font-weight-thin" style="font-size: 13px"> {{ data.content.altname }} </span>
                <v-chip size="x-small" style="max-width: 50px" variant="flat" class="my-2">
                  <template #prepend>
                    <v-icon size="12" class="mr-1" color="yellow">mdi-star</v-icon>
                  </template>
                  {{ data.content.rating }}
                </v-chip>
                <p class="font-weight-thin text-justify overflow-y-auto" style="font-size: 10px; max-height: 100px;">
                  {{ data.content.desc }}
                </p>
              </div>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col v-for="(list, index) in data.list" cols="6" md="4" lg="2" :key="index" class="px-3 py-1">
        <v-card variant="flat" rounded="xl" @click="book(store.bookTitle, list)">
          <v-card-text class="py-2 text-center">
            <div class="text-h6 font-weight-bold">{{ list.chapter }}</div>
            <div class="font-weight-thin text-grey-darken-1">{{ list.date }}</div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.overlay-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1));
  color: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;

}
</style>
