<script setup lang="ts">

</script>

<template>
  <v-container class="d-flex justify-center align-center" style="height: calc(100vh - 200px);">
    <v-progress-circular
      indeterminate
      color="teal"
      size="50"
      width="6"
    />
  </v-container>
</template>

<style scoped>

</style>
