<template>
  <v-app>
    <Index v-if="store.layout === 'default'"/>
    <Reader v-if="store.layout === 'reader'"/>
  </v-app>
</template>

<script lang="ts" setup>
  import Index from './default/Index.vue'
  import Reader from "@/layouts/default/reader.vue";
  import { useAppStore } from '@/store/app'

  const store = useAppStore()
</script>
