<script setup lang="ts">
import DisplayView from '@/layouts/default/View.vue'
</script>

<template>
  <v-app id="inspire">

    <v-navigation-drawer color="#37A0EA" width="70" class="border-0">
      <div class="d-flex align-start flex-column h-100">
        <v-avatar
          class="text-center mx-auto mt-4 mb-15 rounded-xl"
          color="indigo-lighten-5"
          size="40"
        ></v-avatar>

        <v-avatar
          v-for="n in 4"
          :key="n"
          class="text-center mx-auto mb-7 rounded-xl"
          color="# 60BBFB"
          size="35"
        ></v-avatar>

        <v-avatar
          class="text-center mx-auto mb-6 mt-auto rounded-xl"
          color="indigo-lighten-5"
          size="35"
        ></v-avatar>
      </div>
    </v-navigation-drawer>

    <v-navigation-drawer color="#37A0EA" width="244" class="border-0">
      <v-sheet
        class="rounded-bs-xxl rounded-ts-xxl"
        color="white"
        height="100%"
        width="100%"
      >
        <v-sheet height="60px" color="transparent"></v-sheet>

        <v-list>
          <v-list-item
            v-for="n in 5"
            :key="n"
            :title="`Item ${ n }`"
            link
          ></v-list-item>
        </v-list>
      </v-sheet>

    </v-navigation-drawer>

    <v-main class="indigo-accent-3">

      <v-sheet
        class="rounded-bs-xxl rounded-ts-xxl"
        color="grey-lighten-4"
        height="100%"
        width="100%"
      >
        <DisplayView/>
      </v-sheet>
    </v-main>

    <v-navigation-drawer location="right">
      <v-list>
        <v-list-item
          v-for="n in 5"
          :key="n"
          :title="`Item ${ n }`"
          link
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>


  </v-app>
</template>

<style scoped>

</style>
