<script lang="ts" setup>
import {onMounted} from 'vue'
import {useAppStore} from '@/store/app'
import {useTheme} from "vuetify";

const store = useAppStore()

onMounted(() => {
//
})

const theme = useTheme()
function toggleTheme () {
  theme.global.name.value = theme.global.current.value.dark ? 'light' : 'dark'
}
</script>

<template>
  <v-card class="mx-auto rounded-0 h-100" min-width="100vw">
    <v-layout class="h-100">
      <v-app-bar density="compact" elevation="0">
        <template #prepend>
          <v-btn v-if="store.getButtonBack" variant="text" class="px-0" icon="mdi-arrow-left"
                 density="comfortable" @click="$router.back"/>
          <span v-if="!store.getButtonBack" class="font-weight-bold text-center ml-4" style="font-size: 19px;">
            {{ store.title }}
          </span>
        </template>
        <v-app-bar-title v-if="store.getButtonBack" class="font-weight-bold text-center" style="font-size: 19px;">
          {{ store.title }}
        </v-app-bar-title>
        <template #append>
          <v-btn variant="text" class="px-0" icon="mdi-cog-outline" density="comfortable"
                 @click="toggleTheme"/>
        </template>
      </v-app-bar>

      <v-main class="overflow-y-auto" style="max-height: calc(100vh - 75px);">
        <router-view/>
      </v-main>

      <v-bottom-navigation
        absolute
        color="teal"
        elevation="0"
        grow
        height="70"
      >
        <v-btn class="mx-0 px-0" max-width="135" to="/">
          <v-icon size="28">mdi-home-circle-outline</v-icon>
        </v-btn>

        <v-btn class="mx-0 px-0" max-width="135" to="sumber">
          <v-icon size="28">mdi-compass-outline</v-icon>
        </v-btn>

        <v-btn class="mx-0 px-0" max-width="135" to="bookmark">
          <v-icon size="28">mdi-bookmark-outline</v-icon>
        </v-btn>

        <v-btn class="mx-0 px-0" max-width="135">
          <v-icon size="28">mdi-account-circle-outline</v-icon>
        </v-btn>
      </v-bottom-navigation>
    </v-layout>
  </v-card>
</template>
