<script lang="ts" setup>
import {onMounted} from 'vue'
import {useAppStore} from '@/store/app'

const store = useAppStore()

onMounted(() => {
//
})

</script>

<template>
  <v-card class="mx-auto rounded-0 h-100" min-width="100vw">
    <v-layout class="h-100">
      <v-app-bar density="default" elevation="0">
        <template #prepend>
          <v-btn variant="text" class="px-0" icon="mdi-arrow-left" density="comfortable" @click="$router.back"/>
        </template>
        <v-app-bar-title class="font-weight-medium">
          <span class="d-block text-truncate" style="font-size: 14px; max-height: 20px;">{{ store.bookTitle }}</span>
          <span class="d-block font-weight-thin" style="font-size:13px; max-height: 20px;">{{ store.bookChapter}}</span>
        </v-app-bar-title>
        <template #append>
          <v-btn variant="text" class="px-0 mr-2" icon="mdi-share-variant" density="comfortable"/>
          <v-btn variant="text" class="px-0" icon="mdi-earth" density="comfortable"/>
        </template>
      </v-app-bar>

      <v-main class="overflow-y-auto" style="max-height: calc(100vh - 75px);">
        <router-view/>
      </v-main>
      <v-bottom-navigation
        color="teal"
        elevation="0"
        density="comfortable"
        height="60"
      >
        <v-btn class="mx-4 px-0" max-width="135">
          <v-icon size="20">mdi-bookmark-outline</v-icon>
        </v-btn>

        <v-btn class="mx-4 px-0" max-width="135">
          <v-icon size="20">mdi-cellphone-cog</v-icon>
        </v-btn>

        <v-btn class="mx-4 px-0" max-width="135">
          <v-icon size="20">mdi-cog-outline</v-icon>
        </v-btn>
      </v-bottom-navigation>
    </v-layout>
  </v-card>
</template>

<style scoped>
</style>
